.place-order {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;

  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.place-order-left {
  flex-basis: 60%;
  padding: 20px;

}

.place-order-right {
  flex-basis: 40%;
  padding: 20px;
  border-left: 1px solid #ddd;
}

.title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.multi-fields {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.multi-fields input[type="text"] {
  flex-basis: 45%;
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline-color: tomato;
}

input[type="text"], input[type="email"] {
  width: 97%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
  outline-color: tomato;
}

.cart-total {
  
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.cart-total-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart-total-details p {
  font-size: 16px;
  margin: 0;
}

.cart-total-details p:last-child {
  font-weight: bold;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

button {

  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



